name: Triggers Events

on:
  push:
    branches:
      # - "main"
      - "feature/**"
      - "master/**"

    paths:
      - "**"
      - "!*.md"
      - "!doc/**"
    
    # branches-ignore:
    #   - "master/**"
    #   - "doc/**"

  pull_request:
    branches: 
    #  - "main"
     - "master"
     - "feature"
     - "feature/**"
     - "master/**"
    types:
      - opened
      - synchronize #updated
      - closed
      # - reopened
      # - labeled
      # - ready_for_review
    paths: 
      - "**"
      - "!*.md"
      - "!doc/**"

  # schedule:
    # - cron: "45 9 * * *"
  #https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#schedule

  workflow_dispatch:
  
  workflow_run: 
    workflows: ["Baisc Action Workflow"]
    types:
      - completed 
      # - in_progress
      # - requested
 
    

  issues:
    types:
      - opened
      - closed
      - reopened
  

        

jobs: 
  STAGE-1:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: step-1"
        run: |
          echo "stage-1"
          date
      - name: step-2 Dump full event JSON
        run: |
          echo "=== $GITHUB_EVENT_NAME payload ==="
          cat "$GITHUB_EVENT_PATH"



# IF conditions
# jobs:
#   build:
        # if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
#     runs-on: ubuntu-latest
#     steps:
#       - name: Run only on main branch
#         if: ${{ github.ref == 'refs/heads/main' }}
#         run: echo "This runs only on main"


# loops
# jobs:
#   test:
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         node: [14, 16, 18]
#     steps:
#       - run: echo "Testing with Node.js ${{ matrix.node }}"

